<div class="col-xs-12 no-left-pad">
  <div class="col-xs-5 no-left-pad">
    <h3>
      <%= link_to admin_items_path, class: "btn btn-blue" do %>
        Back
      <% end %>
    </h3>
  </div>
  <div class="col-xs-7">
    <h3> Item</h3>
  </div>
</div>
<div class="page-body">
  <div class="container-div row">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= form_for(@item, :url => {:controller => 'admin/items', :action => 'update'}) do |f| %>
          <div class="row mrs mls new_form">
            <%= render 'form', f: f,form_type: "new" %>
          </div>
          <div class="row">
            <div class="col-md-12 mt10" align="right">
              <%= f.submit "Save", class: 'btn btn-green' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
    ChosenApplier.init($('select[data-behavior=chosen-select]'))
</script>