<div class="container-div page-body">
  <div>
    <div class="col-xs-12" align="center">
      <h3> Divisions</h3>
    </div>
    <div class="col-xs-12">
      <div class="col-md-2 col-md-offset-2">
        <h3>
          <%= link_to admin_divisions_path, class: "btn btn-blue" do %>
            Back
          <% end %>
        </h3>
      </div>
    </div>
  </div>

  <div class="col-xs-8 col-xs-offset-2">
    <table class="table table-bordered table-striped table-hover table-data table-overview display" >
      <thead>
      <tr>
        <th class="col-xs-1">Id</th>
        <th class="col-xs-8">Name</th>
        <th class="col-xs-3">Action</th>
      </tr>
      </thead>
      <tbody>
      <% Division.all.each do |division| %>
        <tr>
          <td><%= division.id%></td>
          <%if division.id == @division.id %>
            <%= form_for @division, url: admin_division_path do |f| %>
              <td><%= f.text_field :name, class: 'form-control feedr-main-input input', required: true %></td>
              <td>
                <%= f.submit "Update", class: 'btn btn-green' %>
              </td>
            <% end %>
          <% else %>
            <td><%= division.name%></td>
            <td>
            </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="page_links ppl">
      <%#= will_paginate @locations%>
    </div>
  </div>
</div>
