<div class="container-div page-body">
  <div>
    <div class="col-xs-12" align="center">
      <h3>Divisions</h3>
    </div>
    <div class="col-xs-12 no-left-pad">
      <div class="col-md-2 col-md-offset-2 ">
        <h3>
          <%= link_to new_admin_division_path, class: "btn btn-green" do %>
            Add
          <% end %>
        </h3>
      </div>
    </div>
  </div>

  <div class="col-xs-8 col-xs-offset-2">
    <table class="table table-bordered table-striped feedr-main-tabl" >
      <thead>
      <tr>
        <th class="col-xs-1">Id</th>
        <th class="col-xs-5">Name</th>
        <th class="col-xs-1">Status</th>
        <th class="col-xs-4">Action</th>
      </tr>
      </thead>
      <tbody>
      <% @divisions.each do |division| %>
        <tr>
          <td><%= division.id%></td>
          <td><%= division.name%></td>
          <% if division.status=='active' %>
            <td class="status-active" ><%= division.status%></td>
          <% else %>
            <td class="status-inactive" ><%= division.status%></td>
          <%end %>
          <td>
            <div>
              <div class="col-xs-4">
                <%= link_to edit_admin_division_path(division), class: "btn btn-sm btn-blue" do %>
                  Edit
                <% end %>
              </div>
              <div class="col-xs-4">
                <%= image_tag "https://s3-ap-southeast-1.amazonaws.com/b2b/divisions/#{division.id}.jpg", width: '60px', id: "upload", class: "pointer" %>

              </div>
              <div class="col-xs-4">
                <%= form_tag upload_division_image_admin_divisions_path(id: division.id), class: 'form-horizontal', id: 'upload_form', multipart: true do |f| %>
                  <label for="document"><%= image_tag 'upload_image.svg', width: '30px', id: "upload", class: "pointer" %></label>
                  <%= file_field_tag :document, class: 'mechanic_file', style:"display: none" %>
                <% end %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="page_links ppl">
      <%= will_paginate @divisions%>
    </div>
  </div>
</div>

<script>
    $('#document').change(function(){
        $('#upload_form').submit()
    });
</script>
