<div class="container-div page-body">
  <div>
    <div class="col-xs-12" align="center">
      <h3>Users</h3>
    </div>
    <div class="col-xs-12 no-left-pad">
      <div class="col-md-2 col-md-offset-2 ">
        <h3>
          <%= link_to new_admin_user_path, class: "btn btn-green" do %>
            </span> Add User
          <% end %>
        </h3>
      </div>
    </div>
  </div>

  <div class="col-xs-8 col-xs-offset-2">
    <table class="table table-bordered table-striped feedr-main-tabl" >
      <thead>
      <tr>
        <th class="col-xs-1">Id</th>
        <th class="col-xs-2">Name</th>
        <th class="col-xs-3">Email</th>
        <th class="col-xs-2">Status</th>
        <th class="col-xs-2">Type</th>
        <th class="col-xs-2">Action</th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id%></td>
          <td><%= user.name%></td>
          <td><%= user.email%></td>
          <td><%= user.status%></td>
          <td><%= user.user_type%></td>
          <td>
            <%= link_to edit_admin_user_path(user), class: "btn btn-sm btn-blue" do %>
              Edit
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="page_links ppl">
      <%= will_paginate @item_categories%>
    </div>
  </div>
</div>
